<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <a  routerLink="/home" class="logo">
          Game Mania
      </a>
      <div class="busca">
        <form class="">      
            <input matInput maxlength="156" placeholder="O que você precisa?">
            <mat-icon>search</mat-icon>        
        </form>
      </div>
      <div class="menu-links">
        <a mat-button routerLink="/jogos">Jogos</a>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/contato">Contato</a>
      </div>
      <div class="icons">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>add_shopping_cart</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>