<mat-toolbar>
  <mat-toolbar-row>
    <a class="logo" routerlink="/">
        Game Mania
    </a>
    <div class="busca">
      <form class="">      
          <input matInput maxlength="156" placeholder="O que você precisa?">
          <mat-icon>search</mat-icon>        
      </form>
    </div>
    <div class="menu-links">
      <a mat-button routerlink="/jogos">Jogos</a>
      <a mat-button routerlink="/">Portfólio</a>
      <a mat-button routerlink="/">Contato</a>
    </div>
    <div class="icons">
      <mat-icon>account_circle</mat-icon>
      <mat-icon>add_shopping_cart</mat-icon>
    </div>
  </mat-toolbar-row>
 </mat-toolbar>