<app-header></app-header>
<div id="banner-home">
    <img src="/assets/img/logo.webp">
    <div class="texto-home">
        <h1 class="mat-display-2">{{title}}</h1>
    </div>
    <div class="banner-tarja">
        <div>
            <mat-icon> local_offer</mat-icon>
            {{tarjaDesconto}}            
        </div>
        <div>
            <mat-icon> local_phone</mat-icon>
            {{tarjaAtendimento}}</div>
        <div>
            <mat-icon>send</mat-icon>
            {{tarjaEnvio}}</div>
        <div>
            <mat-icon>credit_card</mat-icon>
            {{tarjaParcelas}}</div>
    </div>
</div>

<div class="container-card">


    <mat-card class="example-card" *ngFor="let noticias of listaNoticias">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{noticias.titulo}}</mat-card-title>
        <mat-card-subtitle>{{noticias.subtitulo}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{noticias.imagem}} alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            {{noticias.descricao}} </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        </mat-card-actions>    
    </mat-card>

</div>

<app-footer></app-footer>