<app-header></app-header>

<div class="container-card">

    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Street of Rage II mega drive</mat-card-title>
        <mat-card-subtitle>R$ 50,00</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/street.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            Streets of Rage 2 é um jogo eletrônico de beat 'em up que foi desenvolvido e publicado pela Sega para o Mega Drive
       </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        </mat-card-actions>    
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Super Mario Kart</mat-card-title>
        <mat-card-subtitle>R$ 75,00</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/mario.jpg" alt="clasic mario kart">
        <mat-card-content>
        <p>
            Super Mario Kart (スーパーマリオカート Sūpā Mario Kāto?) é um jogo eletrônico de corrida com personagens da série Mario lançado em 1992 para o Super Nintendo.</p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        </mat-card-actions>    
    </mat-card>
    
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Golden Axe</mat-card-title>
        <mat-card-subtitle>R$ 60,00</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/goldenAxe.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            O bravo guerreiro Tarik saiu para uma jornada de grandes aventuras, equipado com sua poderosa espada mágica... Titan, o sanguinário, roubou o escudo dourado e sua missão é trazê-lo de volta. Esta viagem é cheia de perigos e armadilhas e Tarik terá que mostrar toda sua força para vencer as estranhas criaturas que estão à sua espera.</p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        </mat-card-actions>    
    </mat-card>




    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Ronaldinho Soccer 97</mat-card-title>
        <mat-card-subtitle>R$ 35,00</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/ronaldinho.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            Ronaldinho Soccer 97 conta com os 24 clubes do Campeonato Brasileiro de 1997, seis clubes Sul-Americanos e seus europeus; além das seleções brasileiras de 1958, 1970 e 1996 e as seleções Européia e Sul-Americana.  </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        </mat-card-actions>    
    </mat-card>

</div>

<app-footer></app-footer>